.login  {
	margin-top: % !important;
	background-color: #2c3e50;
}

.login-box {
	background-color: #2980b9;
	padding: 25px;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.help-block {
	color: #ecf0f1;
}

.login-box h2 > small {
	color: #ecf0f1;
}

.login-box h2 > small > a {
	color: #2ecc71;
}

.title {
	
	text-align: center !important;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 200px;
}

.title h1 {
	font-size: 60px !important;
	color: #2980b9;
}

.register {
	margin-top: % !important;
	background-color: #2c3e50;
}

div.register-box {
	background-color: #2980b9;
	padding: 25px;
	-webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    
}

.register-box h2 > small {
	color: #ecf0f1;
}

.register-box h2 > small > a {
	color: #2ecc71;
}

.register-box div > input {
	width: 75%;
}

.nav-tabs li > a{
	background-color:#55a5d9 ;
	border-color: #55a5d9;
	margin-right: 0px;
}

.nav-tabs > li.active > a {
	background-color:#2980b9 ;
	border-color: #2980b9;
}

.nav-tabs > li.active > a:focus {
	background-color:#55a5d9 ;
	border-color: #2980b9;
	
}

.nav-tabs > li.active > a:hover {
	color: #55a5d9;
	background-color:#2980b9;
	border-color:#2980b9;

}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	background-color:#55a5d9 ;
	border-color: #2980b9;
}

.nav-tabs > li > a:hover {
	color: #55a5d9;
	background-color:#2980b9;
	border-color:#2980b9;

}

.nav-tabs li {
	width: 50%;
	text-align: center;
}

.nav-tabs li:nth-child(odd) a {
	border-radius: 7px 0px 0px 0px;
}

.nav-tabs li:nth-child(even) a {
	border-radius: 0px 7px 0px 0px;
	padding-right: 1px;
}

.main {
	background: #2c3e50;
	
}

.profile {
	margin-top: 10%;
}

.content {
	background: rgb(52, 152, 219); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(189, 195, 199, .2); #F3FAF9;

}

/*Footer und Social buttons*/
.footer {
	background-color: #ccc;
	padding: 20px;
	text-align: center;
	font-size: 400px;

}


/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 50px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 18px;
	margin: 0 50px;
	position: absolute;
	top: 18px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

.navlink {
	margin-left: 20px;
}

.navlink:hover {
	color: #55a5d9;
	background-color: #eeeeee;
}

.navlink:active {
	background-color: #428bca;
	color: #fff;
}